
  <!-- Our Clients -->
  <div id="clients-flexslider" class="">
    <div class="headline"><h2>我们的客户</h2></div>	
    <ul class="list-unstyled list-inline">
      <li>
      <a href="#">
        <img src="{{ site.baseurl }}/images/clients/hp.png" class="color-img" alt="" />
      </a>
      </li>
      <li>
      <a href="#">
        <img src="{{ site.baseurl }}/images/clients/igneus.png" class="color-img" alt="" />
      </a>
      </li>
      <li>
      <a href="#">
        <img src="{{ site.baseurl }}/images/clients/vadafone.png" class="color-img" alt="" />
      </a>
      </li>
      <li>
      <a href="#">
        <img src="{{ site.baseurl }}/images/clients/walmart.png" class="color-img" alt="" />
      </a>
      </li>
      <li>
      <a href="#">
        <img src="{{ site.baseurl }}/images/clients/shell.png" class="color-img" alt="" />
      </a>
      </li>
      <li>
      <a href="#">
        <img src="{{ site.baseurl }}/images/clients/shell.png" class="color-img" alt="" />
      </a>
      </li>
      <li>
      <a href="#">
        <img src="{{ site.baseurl }}/images/clients/shell.png" class="color-img" alt="" />
      </a>
      </li>
    </ul>
  </div><!--/flexslider-->
  <!-- End Our Clients -->