<!--=== Footer ===-->
<div class="footer">
  <div class="container">
    <div class="row">
      <div class="col-md-7 md-margin-bottom-40">
        <div class="posts">
          <div class="headline"><h2>最新动态</h2></div>
          <div>
            <ul class="list-unstyled">
              <li>
                <h4><i class="fa fa-weibo"></i>掘金1.4.0 发布  <small>2014年6月2日</small></h4>
                <p>新增订单路由配置，策略和交易通道彻底解耦。有了订单路由支持，策略无需关心订单的具体流向是到仿真交易，或是真实交易，具体到哪个账号交易。<a href="">阅读全文 <i class="fa fa-angle-double-right"></i></a></p>
              </li>
              <li>
                <h4><i class="fa fa-weibo"></i>掘金1.3.2 发布  <small>2014年5月2日</small></h4>
                <p>新增订单路由配置，策略和交易通道彻底解耦。有了订单路由支持，策略无需关心订单的具体流向是到仿真交易，或是真实交易，具体到哪个账号交易。<a href="">阅读全文 <i class="fa fa-angle-double-right"></i></a></p>
              </li>
            </ul>
          </div>
        </div>
      </div><!--/col-md-7-->

      <div class="col-md-5">
        <!-- Monthly Newsletter -->
        <div class="headline"><h2>联系方式</h2></div>	
        <address class="md-margin-bottom-40">
          地址：深圳市南山区数字文化产业基地东塔261 <br />
          邮编：518000 <br />
          电话：0755-86962125 <br />
          邮件：<a href="mailto:support@myquant.cn" class="">support@myquant.cn</a> <br />
          QQ  ：2319312574
        </address>

        <!-- Stay Connected -->
        <div class="headline"><h2>分享给朋友</h2></div>	
        <div class="bshare-custom icon-medium"><div class="bsPromo bsPromo2"></div><a title="分享到微信" class="bshare-weixin" href="javascript:void(0);"></a><a title="分享到新浪微博" class="bshare-sinaminiblog"></a><a title="分享到腾讯微博" class="bshare-qqmb"></a><a title="分享到QQ好友" class="bshare-qqim" href="javascript:void(0);"></a><a title="分享到Facebook" class="bshare-facebook" href="javascript:void(0);"></a><a title="分享到Twitter" class="bshare-twitter" href="javascript:void(0);"></a><a title="更多平台" class="bshare-more bshare-more-icon more-style-addthis"></a></div><script type="text/javascript" charset="utf-8" src="http://static.bshare.cn/b/buttonLite.js#style=-1&amp;uuid=a5bf1408-cb43-4bb8-b11e-fbee4395bd02&amp;pophcol=2&amp;lang=zh"></script><script type="text/javascript" charset="utf-8" src="http://static.bshare.cn/b/bshareC0.js"></script>
      </div><!--/col-md-5-->
    </div><!--/row-->	
  </div><!--/container-->	
</div><!--/footer-->	
<!--=== End Footer ===-->

<!--=== Copyright ===-->
<div class="copyright">
  <div class="container">
    <div class="row">
      <div class="col-md-10">						
        <p class="copyright-space">
          &copy;&nbsp;2013-{{ site.time | date: '%Y' }} <a href="#">深圳红树科技有限公司 版权所有</a> | 
         <a href="http://www.miitbeian.gov.cn/">粤ICP备14007024号 </a> | 
         <a href="#">服务协议</a>
        </p>
      </div>
      <div class="col-md-2">	
        <a href="#">
          <img id="logo-footer" src="{{ site.baseurl }}/images/logo2-default.png" class="pull-right" alt="" />
        </a>
      </div>
    </div><!--/row-->
  </div><!--/container-->	
</div><!--/copyright-->	
<!--=== End Copyright ===-->

<!-- build:js scripts/vendor.js -->
<!-- bower:js -->
<script src="{{ site.baseurl }}/scripts/vendor/jquery.min.js"></script>
<!-- endbower -->
<!-- endbuild -->

<!-- build:js scripts/plugins.js -->
<script src="{{ site.baseurl }}/scripts/vendor/bootstrap.min.js"></script>

<!-- endbuild -->

<!-- build:js({app,.tmp}) scripts/main.js -->
<script src="{{ site.baseurl }}/scripts/back-to-top.js"></script>
<script src="{{ site.baseurl }}/scripts/main.js"></script>
<script type="text/javascript">
    $('.carousel').carousel()
</script>
<!-- endbuild -->
