<!--=== Footer ===-->
<div class="footer">
  <div class="container">
    <div class="row">
      <div class="col-md-6 md-margin-bottom-40">
        <div class="posts">
          <div class="headline"><h2>最新动态</h2></div>
          <div>
            <ul class="list-unstyled">
            {% for post in site.posts limit:2 %}
            <li>
                <h4><i class="fa fa-pencil"></i>{{ post.title }}  <small>{{ post.date | date_to_string }}</small></h4>
                <p>{{ post.content | strip_html | strip_newlines | truncate: 30 }} 
                  <a href="{{ site.baseurl }}{{ post.url }}">阅读全文 <i class="fa fa-angle-double-right"></i></a>
                </p>
            </li>
            {% endfor %}
            </ul>
          </div>
        </div>
      </div><!--/col-md-6-->

      <div class="col-md-4">
        <!-- Monthly Newsletter -->
        <div class="headline"><h2>联系方式</h2></div>	
        <p class="posts md-margin-bottom-40">
          地址：深圳市南山区数字文化产业基地东塔261 <br />
          邮编：518000 <br />
          电话：0755-86962125 <br />
          邮件：<a href="mailto:support@myquant.cn" class="">support@myquant.cn</a> <br />
          QQ  ：2319312574
        </p>
      </div><!--/col-md-4-->
      <div class="col-md-2">
        <!-- Monthly Newsletter -->
        <div class="headline"><h2>关注我们</h2></div>	
          <ul class="list-unstyled list-inline">
            <li>
              <img width="120px" height="120px" src="{{ site.baseurl }}/images/weixin.png" alt="">
            </li>
          </ul>
      </div><!--/col-md-3-->
    </div><!--/row-->	
  </div><!--/container-->	
</div><!--/footer-->	
<!--=== End Footer ===-->

<!--=== Copyright ===-->
<div class="copyright">
  <div class="container">
    <div class="row">
      <div class="col-md-10">						
        <p class="copyright-space">
          &copy;&nbsp;2013-{{ site.time | date: '%Y' }} <a href="#">深圳红树科技有限公司 版权所有</a> | 
         <a href="http://www.miitbeian.gov.cn/">粤ICP备14007024号 </a> | 
         <a href="#">服务协议</a>
        </p>
      </div>
      <div class="col-md-2">	
        <a href="#">
          <img id="logo-footer" src="{{ site.baseurl }}/images/logo.png" class="pull-right" alt="" />
        </a>
      </div>
    </div><!--/row-->
  </div><!--/container-->	
</div><!--/copyright-->	
<!--=== End Copyright ===-->

<!-- build:js scripts/vendor.js -->
<!-- bower:js -->
<script src="{{ site.baseurl }}/scripts/vendor/jquery.min.js"></script>
<!-- endbower -->
<!-- endbuild -->

<!-- build:js scripts/plugins.js -->
<script src="{{ site.baseurl }}/scripts/vendor/bootstrap.min.js"></script>

<!-- endbuild -->

<!-- build:js({app,.tmp}) scripts/main.js -->
<script src="{{ site.baseurl }}/scripts/back-to-top.js"></script>
<script src="{{ site.baseurl }}/scripts/main.js"></script>
<script type="text/javascript">
    $('.carousel').carousel()
</script>
<!-- endbuild -->
