<article>
  <h2>
    <a href="{{ site.baseurl }}{{ post.url }}">
      {{ post.title }}
    </a>
  </h2>
  <div class="blog-post-tags">
    <ul class="list-unstyled list-inline blog-info">
        <li><i class="fa fa-calendar"></i> {{ post.date | date_to_string }}</li>
        <li><i class="fa fa-pencil"></i> {{ post.author }}</li>
        <li><i class="fa fa-comments"></i> <a href="#"><span class="ds-thread-count" data-thread-key="{{ post.id }}"></span></a></li>
    </ul>
    <ul class="list-unstyled list-inline blog-tags">
        <li><i class="fa fa-tags"></i><a href="#">{{ post.categories | array_to_sentence_string }}</a></li>
    </ul>
  </div>
  <div class="post-content">
    {{ post.content }}
  </div>
</article>
<div class="margin-bottom-40"></div>
