<div class="posts margin-bottom-40">
  <div class="headline headline-md"><h5><strong>新闻分类</strong></h5></div>
  <ul class="list-unstyled">
    <li class="{% if page.title == 'News' %}active{% endif %}">
      <a href="{{ site.baseurl }}/news/"><i class="fa fa-tags"></i> 全部新闻</a>
    </li>
    <li class="{% if page.title == 'Releases' %}active{% endif %}">
      <a href="{{ site.baseurl }}/news/releases/"><i class="fa fa-tags"></i> 产品发布</a>
    </li>
  </ul>
</div>

<div class="posts margin-bottom-40">
  <div class="headline headline-md"><h5><strong>近期版本</strong></h5></div>
  <ul class="list-unstyled">
    {% for post in site.categories.release limit:5 %}
    <li class="{% if page.title == post.title %}active{% endif %}">
        <a href="{{ site.baseurl }}{{ post.url }}"><i class="fa fa-pencil"></i> 版本 {{ post.version }}</a>
    </li>
    {% endfor %}
    <li>
        <a href="{{ site.baseurl }}/docs/history/"><i class="fa fa-pencil"></i> 历史版本 »</a>
    </li>
  </ul>
</div><!--/posts-->
