---
layout: news
---

<article>
  <h2>
    {{ page.title }}
    <a href="{{ page.url }}" class="permalink" title="Permalink">∞</a>
  </h2>
  <div class="blog-post-tags">
    <ul class="list-unstyled list-inline blog-info">
        <li><i class="fa fa-calendar"></i> {{ page.date | date_to_string }}</li>
        <li><i class="fa fa-pencil"></i> {{ page.author }}</li>
        <li><i class="fa fa-comments"></i> <a href="#">24 Comments</a></li>
    </ul>
    <ul class="list-unstyled list-inline blog-tags">
        <li><i class="fa fa-tags"></i><a href="#">{{ page.categories | array_to_sentence_string }}</a></li>
    </ul>
  </div>
  <div class="post-content">
    {{ content }}
  </div>
</article>
{% include duoshuo_comment.html %}


